:root {
  --duration: 20s;
}

.rolling_crop {
  animation: var(--duration, 10s) linear 0s infinite normal forwards running rollingtop;
}
.rolling_crop_clone {
  animation: var(--duration, 10s) linear 0s infinite normal none running rollingtopclone;
}

.rev_rolling_crop {
  animation: var(--duration, 10s) linear 0s infinite normal forwards running rollingbottom;
}
.rev_rolling_crop_clone {
  animation: var(--duration, 10s) linear 0s infinite normal none running rollingbottomclone;
}

@keyframes rollingtop {
  0% {
    transform: translateY(0);
  }
  50% {
    display: none;
    transform: translateY(-100%);
  }
  50.1% {
    display: none;
    transform: translateY(99.8%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rollingtopclone {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rollingbottom {
  0% {
    transform: translateY(0);
  }
  50% {
    display: none;
    transform: translateY(100%);
  }
  50.1% {
    display: none;
    transform: translateY(-99.8%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rollingbottomclone {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
