.cube_above {
  display: block;
  position: absolute;
}

.cube_side {
  display: block;
  position: absolute;
}

.front_panel,
.back_panel {
  z-index: 13;
}
.right_panel,
.left_panel {
  z-index: 13;
}
.upper_panel {
  z-index: 15;
}
